img {
    width: 100%;
    height: auto;
}

input[type="radio"] {
    display: none;
    
}

.star {
    cursor: pointer;
    font-size: 24px;
    margin-right: 12px;
}

.stars {
    
    display: inline-block;
}

label {
    margin-bottom: 0;
}
